DATABASE_URL=postgres://postgres:password@postgres:5432/twitter
POSTGRES_DB=twitter
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
JWT_SECRET=68d06b5cc71e6fa91d85d153cc7ce620463dfb4b16700e7bf46ae5835fb5d3bd
FRONTEND_URL=http://localhost:3000
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_PUBLIC_URL=http://minio:9000
ENV=development
